<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar - Lista de Tarefas</title>
    <!-- Fonte Google -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <h1>Crie sua conta no To-Do List</h1>
    </header>

    <!-- Mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- Conteúdo principal -->
    <div class="container">
        <!-- Formulário de Registro -->
        <form action="{{ url_for('register') }}" method="post" id="register-form" class="center-form">
            <h2>Crie sua conta</h2>
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
            <label for="confirm_password">Confirme a senha:</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirme sua senha" required>
            <button type="submit">Registrar</button>
            <p class="login-link">Já tem uma conta? <a href="{{ url_for('login') }}">Faça login aqui</a>.</p>
        </form>
    </div>
</body>
</html>